.container {
    width: 80%;
    margin: 0 auto;
  }
  
  .userInfo, .reservation {
    background-color: #964646;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    color: #d2a0a0;
  }
  
  h3 {
    color: #c39d9d;
  }
  