/* Operador.css */

.operador-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-details {
    margin-top: 20px;
  }
  
  .user-details p {
    margin: 10px 0;
  }

  .user-details strong {
    margin-right: 10px;
    font-weight: bold;
    color: #ffd700; /* Color dorado - puedes ajustar el código hexadecimal según tus preferencias */
  }
  